<%-include("partials/header" , {title: title});-%>
<body>
  <%-include("partials/navigator" , {title: title});-%>
  <form method="post" enctype="multipart/form-data" action="/admin/uploadAbout">
    <h3 class="primary-text">Upload About Information</h3>
    <label for="name">Header: </label>
    <input type="text" name="header_az" placeholder="AZ" />
    <input type="text" name="header_en" placeholder="EN" /> <br />

    <label>Content: </label>
    <textarea name="about_az" cols="30" rows="10" placeholder="AZ"></textarea>
    <textarea name="about_en" cols="30" rows="10" placeholder="EN"></textarea>
    <br />

    <label for="image">Image: </label>
    <input type="file" name="uploadedImage" id="image" required /> <br />
    <button type="submit">Send</button>
  </form>
</body>
