<%-include("partials/header" , {title: title});-%>
<body>
  <%-include("partials/navigator" , {title: title});-%>
  <form
    method="post"
    enctype="multipart/form-data"
    action="/admin/uploadMember"
  >
    <h3 class="primary-text">Upload Member</h3>
    <label for="name">Name: </label>
    <input type="text" name="fname_az" id="name" placeholder="AZ" />
    <input type="text" name="fname_en" id="nameEN" placeholder="EN" /> <br />

    <label for="lname">Surname: </label>
    <input type="text" name="lname_az" id="lname" placeholder="AZ" />
    <input type="text" name="lname_en" id="lnameEN" placeholder="EN" />
    <br />

    <label for="email">Email: </label>
    <input type="email" name="email" id="email" />
    <br />

    <label for="position">Position: </label>
    <input type="text" name="position" id="position" />
    <br />

    <label for="memberType">Member Type: </label>
    <select name="memberType" id="memberType">
      <option value="1">Partner</option>
      <option value="0">Member</option>
    </select>
    <br />

    <label>About: </label>
    <textarea name="about_az" cols="30" rows="10" placeholder="AZ"></textarea>
    <textarea name="about_en" cols="30" rows="10" placeholder="EN"></textarea>
    <br />

    <label for="image">Image: </label>
    <input type="file" name="uploadedImage" id="image" required /> <br />
    <button type="submit">Send</button>
  </form>
</body>
