<%-include("partials/header" , {title: title});-%>
<body>
  <%-include("partials/navigator" , {title: title});-%>

  <form method="post" enctype="multipart/form-data" action="/admin/uploadNew">
    <label for="title">Title: </label>
    <input type="text" name="titleAZ" id="title" placeholder="AZ" />
    <input type="text" name="titleEN" id="titleEN" placeholder="EN" />
    <br />

    <label for="content">Content: </label>
    <textarea
      type="text"
      name="contentAZ"
      id="content"
      placeholder="AZ"
      required
    ></textarea>
    <textarea
      type="text"
      name="contentEN"
      id="contentEN"
      placeholder="EN"
      required
    ></textarea>
    <br />

    <label for="date">Date: </label>
    <input type="date" name="date" id="date" required /> <br />

    <label for="image">Image: </label>
    <input type="file" name="uploadedImage" id="image" /> <br />
    <button type="submit">Send</button>
  </form>
</body>
