<%-include("partials/header" , {title: title});-%>
<body>
  <%-include("partials/navbar");-%>
  <section class="career-section-1">
    <%-include("partials/navigation" , {title: title});-%>
    <p class="career-content">
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis
      voluptatibus suscipit animi id qui explicabo provident atque fuga incidunt
      enim nihil perferendis eius alias accusantium ipsa, sed, natus repudiandae
      quam voluptatum? <br />
      Adipisci minima dolor accusamus voluptatum recusandae tenetur ipsam eius
      iusto officia velit aperiam perferendis, id quis aliquid facere, aut,
      maiores minus maxime neque voluptas eaque! <br />
      Sequi iusto neque ad similique soluta possimus illo repellendus? <br />
      Nisi unde laudantium vero voluptates ea tempora ad cumque dolorum suscipit
      consequuntur vel non aliquam ipsam sed quia, beatae eos modi atque ex
      placeat eum quod consectetur. <br />
      Deserunt ad recusandae, eaque facere delectus fugit fuga enim est officiis
      sed ea odio. Magnam aliquam beatae dignissimos, nam iste et accusamus
      reprehenderit distinctio sit voluptas, laboriosam maxime ullam quis soluta
      quia illo assumenda quibusdam quisquam rerum minus, perspiciatis odio
      quasi?
      <br />
      Saepe ab sed perspiciatis quia. Vero iure maiores quas? <br />
      Harum quam iusto deserunt ratione accusamus ab eaque quis. <br />
      A animi deserunt vitae molestias repellat autem, vero nulla! <br />
      Consequuntur dolor libero qui perferendis maxime eligendi, iure, culpa
      rerum tempore at praesentium voluptate voluptas a? <br />
      Asperiores officiis odio, fugit similique, recusandae cumque totam,
      aperiam voluptas cupiditate animi ullam doloremque commodi neque pariatur
      tempora ab nam dicta? <br />
      Laboriosam, amet exercitationem.
    </p>
  </section>

  <%-include("partials/footer");-%>
</body>
