<div class="navbar-nav w-100">
  <a href="/admin/abouts" class="nav-item nav-link"
    ><i class="fa-solid fa-circle-info"></i> About Company</a
  >
  <a href="/admin/users" class="nav-item nav-link"
    ><i class="fa-solid fa-user"></i> Users</a
  >
  <a href="/admin/contacts" class="nav-item nav-link"
    ><i class="fa-solid fa-message"></i> Messages</a
  >
  <a href="/admin/partners" class="nav-item nav-link"
    ><i class="fa-solid fa-handshake"></i> Partners</a
  >
  <a href="/admin/members" class="nav-item nav-link">
    <i class="fa-solid fa-briefcase"></i> Employees</a
  >
  <a href="/admin/services" class="nav-item nav-link"
    ><i class="fa-solid fa-bell-concierge"></i> Services</a
  >
  <a href="/admin/news" class="nav-item nav-link"
    ><i class="fa-solid fa-newspaper"></i> News</a
  >
  <a href="/admin/careers" class="nav-item nav-link"
    ><i class="fa-solid fa-briefcase"></i> Careers</a
  >
</div>
