<section class="section-4" id="contact">
  <div class="contact-container">
    <div class="contact-left">
      <div class="contact">
        <span>Əlaqə</span>
      </div>
      <div class="get-in-touch">
        <span>Əlaqə saxla</span>
      </div>
      <div class="contact-form">
        <form action="/aze/success" method="post">
          <input
            type="text"
            name="fname"
            placeholder="Ad"
            class="form-item"
            required
          />
          <input
            type="text"
            name="lname"
            placeholder="Soyad"
            class="form-item"
            required
          />
          <input
            type="email"
            name="email"
            placeholder="Email"
            class="form-item"
            required
          />
          <input
            type="tel"
            name="phone"
            placeholder="Telefon"
            class="form-item"
          />
          <textarea
            name="message"
            cols="30"
            rows="8"
            placeholder="Mesaj"
            required
          ></textarea>
          <button type="submit" class="form-button">Göndər</button>
        </form>
      </div>
    </div>
    <div class="contact-right">
      <div>Ecovis Azərbaycan</div>
      <div>Xocalı prospekti 37</div>
      <div>5ci mərtəbə, Dəmirçi Plaza</div>
      <div>AZ1095 and Baku, Azerbaijan</div>
      <br />
      <a href="tel:+994502908877">+994 50 290 88 77</a>
      <a href="mailto:office@ecovis.az">office@ecovis.az</a>
      <div>İş saatı:</div>
      <div>Bazar Ertəsi - Cümə: 9:00 - 18:00</div>
      <br />
      <div>UTC +4</div>
      <div>(CEST) CEST: Central European Summer Time</div>
    </div>
  </div>
</section>
