<navbar class="navbar">
  <div class="navbar-container">
    <div class="navbar-left">
      <div class="logo">
        <img src="/images/logo_ecovis_Azerbaijan.png" alt="logo" />
      </div>
    </div>
    
    <div class="navbar-right">
      <div class="navbar-right-top">
        <ul>
          <li class="ecovis-global">
            <a href="https://www.ecovis.com/global/" target="_blank"
              >ecovis global</a
            >
          </li>
          <li class="ecovis-az"><a href="/aze/index">az</a></li>
          <li class="ecovis-en"><a href="/eng/index">en</a></li>
        </ul>
      </div>
      <ul class="navbar-right-bottom">
        <li class="navbar-item"><a href="/aze/index">Əsas Səhifə</a></li>
        <li class="navbar-item"><a href="/aze/about">Haqqımızda</a></li>
        <li class="navbar-item"><a href="/aze/employees">İşçilər</a></li>
        <li class="navbar-item"><a href="/aze/partners">Tərəfdaşlar</a></li>
        <li class="navbar-item"><a href="/aze/services">Xidmətlər</a></li>
        <li class="navbar-item"><a href="/aze/news">Xəbərlər</a></li>
        <li class="navbar-item"><a href="/aze/career">Kariyera</a></li>
        <li class="navbar-item"><a href="/aze/contact">Əlaqə</a></li>
        </li>
      </ul>
    </div>
    <div class="navbar-burger">
      <input type="checkbox" id="navbar-toggler" style="display: none;">
      <label for="navbar-toggler">
        <i class="fa-solid fa-bars fa-3x" style="color: #ffffff;"></i>
      </label>
    </div>
  </div>
</navbar>
